.AppLoading {
  text-align: center;
  padding: 13px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #FFFFFF;
  z-index: 999999;
}

.img-profile {
  width: 100%;
  height: auto;
}

.btn a {
  text-decoration: none;
}

td .initEl {
  margin-left: 0;
  margin-right: 0;
  position: initial;
}

.hide {
  display: none;
}
