#WidgetChatComponent {
  position: fixed;
  bottom: 0;
  right: 1px;
  display: flex;
  align-items: flex-end;
  z-index: 2;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .ChatChannels {
    margin-left: 2px;
    width: 180px;
    background: #fff;
    border: 1px solid #20a8d8;
    border-bottom: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .ChatChannels-header {
      position: relative;
      text-align: center;
      padding: 2px 0;
      background: #20a8d8;
      color: #fff;
      cursor: pointer;

      strong {
        font-size: 11px;
      }

      .ChatChannels-controls {
        position: absolute;
        top: 1px;
        right: 1px;

        a {
          display: inline-block;
          padding: 0 3px;
          color: #FFFFFF;
        }
      }
    }

    .ChatChannels-body {
      height: 300px;
      padding: 0;

      ul {
        li {
          a {
            display: block;
            padding: 8px 10px;
            background: #fff;
          }

          a:hover {
            background: #ddd !important;
            text-decoration: none;
          }
        }

        li:nth-of-type(odd) {
          a {
            background: #eee;
          }
        }
      }
    }
  }

  .ChatWindows {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;

    .ChatWindow {
      margin-left: 2px;
      width: 250px;
      background: #fff;
      border: 1px solid #20a8d8;
      border-bottom: 0;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      .ChatWindow-header {
        position: relative;
        text-align: center;
        padding: 2px 0;
        background: #20a8d8;
        color: #fff;
        cursor: pointer;

        strong {
          font-size: 11px;
        }

        .ChatWindow-controls {
          position: absolute;
          top: 1px;
          right: 1px;

          a {
            display: inline-block;
            padding: 0 3px;
            color: #FFFFFF;
          }
        }
      }

      .ChatWindow-body {
        height: 250px;

        .ChatWindow-chat {
          height: 222px;
        }
      }
    }
  }
}

.miniForm {
  .messages {
    height: 100%;

    .rce-mlist {
      .rce-container-mbox {
        .rce-mbox {
          .rce-mbox-body {
            .rce-mbox-title {
              margin-bottom: 0 !important;
              font-size: 11px;
            }

            .rce-mbox-text {
              font-size: 11px;
            }

            .rce-mbox-time {
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}