.helpers-SelectSimpleLineIcon .icons {
  cursor: pointer;
}

.detail {
  dl.row {
    border-bottom: 1px solid #dddddd;
  };
}

.btn-danger {
  a {
    color: #dddddd;
    text-decoration: none;
  }
}

.calendar-header {
  margin-bottom: 15px;

  .fc-title {
    font-size: 15px;
    padding-top: 5px;
  }
}

.DateInputHelper {
  input[type="text"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #3e515b;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}

.activityNotifications {
  .notificationItem {
    padding-top: 5px;

    .form-control {
      width: 65px;
      flex: none;
    }
  }
}
