.helpers-SelectSimpleLineIcon .icons {
  cursor: pointer;
}

.detail {
  dl.row {
    border-bottom: 1px solid #dddddd;
  }
;
}

.btn-danger {
  a {
    color: #dddddd;
    text-decoration: none;
  }
}

.calendar-header {
  margin-bottom: 15px;

  .fc-title {
    font-size: 15px;
    padding-top: 5px;
  }
}

.DateInputHelper {
  input[type="text"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #3e515b;
    background-color: #fff;
    border: 1px solid #c2cfd6;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
}

.activityNotifications {
  .notificationItem {
    padding-top: 5px;

    .form-control {
      width: 65px;
      flex: none;
    }
  }
}

.imageUploadContainer {
  float: left;
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;

  .btn {
    width: 60px;
    height: 60px;
    border-radius: 3px;
  }

  i {
    font-size: 24px;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

ul.imagePreview {
  float: left;
  display: inline-block;
  padding-left: 3px;

  li {
    position: relative;
    float: left;
    width: 61px;
    height: 61px;
    display: inline-block;
    margin-right: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;

    img {
      max-width: 60px;
      max-height: 60px;
    }

    input {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .remove {
      position: absolute;
      right: -5px;
      top: -13px;
      padding: 0;
      margin: 0;
    }
  }
}

.addressRow {
  margin-bottom: 5px;
}

.ArrayViewRow {
  margin-bottom: 5px;
}

.ArrayViewUl {
  margin: 0;
  padding: 0 0 0 20px;
}

.Select-control {
  border-radius: 0 !important;
  border-color: #c2cfd6 !important;
}

select {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0px !important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=) no-repeat right 50%;
}

.form-group .input-group .Select {
  flex: 1 1 auto;
}

.image16 {
  width: 16px;
  height: auto;
}

.image20 {
  width: 20px;
  height: auto;
}

.image24 {
  width: 24px;
  height: auto;
}

.image32 {
  width: 32px;
  height: auto;
}

.NumberInput {
  max-width: 100px;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
}

.CurrencyInput {
  max-width: 150px;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
}

.list-group.sm {
  .list-group-item {
    padding: 5px 10px;
  }
}
