.table-sortable > thead > tr > th {
  cursor: pointer;
  position: relative;
}

.table-sortable > thead > tr > th:after {
  content: ' ';
  position: absolute;
  height: 0;
  width: 0;
  right: 12px; /* (right padding / 2) - arrow width */
  top: 22px; /* ((padding * 2) + line height) - arrow height */
  /** As pointed out by Dave Everitt in
   * https://css-tricks.com/snippets/css/css-triangle/
   * The arrow is not an equilateral triangle.
   * the height is 86.6% of the width.
   * Notice the above code does not subract the border
   * width exactly. It is subtracting
   * (rounded) border width * 86.6%
   **/
}

/* Default sortable indicator */
.table-sortable > thead > tr > th:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ccc;
  border-bottom: 0px solid transparent;
}

.table-sortable.table-sm > thead > tr > th:after {
  top: 13px;
}

/* !Default */

/* Default sortable indicator:hover */
.table-sortable > thead > tr > th:hover:after {
  border-top: 5px solid #888;
}

/* !Default:hover */

/* Ascending sortable indicator */
.table-sortable > thead > tr > th.asc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 5px solid #333;
}

.table-sortable > thead > tr > th.asc:hover:after {
  border-bottom: 5px solid #888;
}

/* !Ascending */

/* Descending sortable indicator */
.table-sortable > thead > tr > th.desc:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  border-bottom: 5px solid transparent;
}

/* !Descending */

.NoSortLink {
  cursor: default !important;
}

.NoSortLink:after {
  content: none !important;
}

td .btn-link {
  padding-top: 0px;
  padding-bottom: 0px;
}

td .form-control {
  margin-top: 0;
  margin-bottom: 0;
}
